openapi: 3.0.3
info:
  title: Spokeslens API
  description: |-
    REST API Document for Spokeslens
  contact:
    email: henryk@spokeslens.com
  version: 0.0.1
externalDocs:
  description: Github Repository
  url: https://github.com/Spokeslens/functions-api
servers:
  - url: https://api.spokeslens.com
tags:
  - name: dev
    description: Non-production API
  - name: supervisor
    description: Supervisor Endpoints
  - name: patient
    description: Patient Endpoints
paths:
  /supervisor:
    get:
      tags:
        - supervisor
      summary: Fetch supervisor account
      description: Fetch supervisor account using its id
      responses:
        "200":
          description: Supervisor account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Supervisor"
        "400":
          description: Failed operation

    post:
      tags:
        - supervisor
      summary: Edit supervisor account
      description: Edit supervisor account using its id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                col:
                  type: string
                val:
                  type: string
      responses:
        "200":
          description: Successful operation
        "400":
          description: Failed operation

  /supervisor/signup:
    post:
      tags:
        - supervisor
      summary: Create an account
      description: Create a new account based on Google OAuth information or retrieve existing user
      responses:
        "200":
          description: Supervisor account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Supervisor"
        "400":
          description: Failed operation

  /supervisor/patient:
    get:
      tags:
        - supervisor
      summary: Get all patients
      description: Fetch all patients from a supervisor account
      responses:
        "200":
          description: List of all patients linked with the account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Patient"
    post:
      tags:
        - supervisor
      summary: Add new patient
      description: Add new patient to a supervisor account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  code:
                    type: string
        "400":
          description: Failed operation

  /patient:
    get:
      tags:
        - patient
      summary: Fetch patient data
      description: Fetch patient data with device uuid
      parameters:
        - in: header
          name: device
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
        "401":
          description: Unauthenticated
    post:
      tags:
        - patient
      summary: Register device to patient
      description: Register device to patient with device uuid and code
      parameters:
        - in: header
          name: device
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
        "400":
          description: Failed operation
        "401":
          description: Unauthenticated

  /patient/state:
    post:
      tags:
        - patient
      summary: Change patient's state
      description: Change patient's state to either normal (null or 0), need help ('help' or 1), or emergency ('emergency' or 2)
      parameters:
        - in: header
          name: device
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
      responses:
        "200":
          description: Successful operation
        "400":
          description: Failed operation
        "401":
          description: Unauthenticated

  /ping:
    get:
      tags:
        - dev
      summary: Ping pong
      description: Check server status
      responses:
        "200":
          description: Successful operation
          content:
            text/plain:
              schema:
                type: string
                example: pong
components:
  schemas:
    Supervisor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string

    Patient:
      type: object
      properties:
        id:
          type: integer
        supervisor:
          type: string
        name:
          type: string
        code:
          type: string
        device:
          type: string
          format: uuid
        state:
          type: string
